html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#params {
    position: absolute;
    width: 140px;
    top: 70px;
    right: 35px;

}
#params input {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 8px;
    padding: 0;
}
#view {
    border: 1px dashed silver;
    position: fixed;
    top: 70px;
    bottom: 60px;
    left: 20px;
    right: 210px;
    overflow: hidden;
}
svg, .svg-zone, #export-zone {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
svg {
    padding: 20px 0 0 20px;
}
#export-zone {
    overflow: scroll;
    display: none;
    background-color: rgba(255,255,255,.9);
}
.optionpanel {
    position: fixed;
    left: 20px;
    bottom: 20px;
    right: 20px;
    white-space: nowrap;
}
.optionpanel a {
    background-color: lightsteelblue;
    color: white;
    padding: 4px 10px;
    text-decoration: none;
}
.optionpanel label {
    margin-left: 20px;
}
.logo {
    position: fixed;
    top: 25px;
    left: 20px;
    font-size: 28px;
    font-weight: bold;
    color: silver;
    line-height: 18px;
}
.selectModelCode {
    position: fixed;
    top: 25px;
    right: 210px;
}
.selectModelCode * {
    font-size: 18px;
    font-weight: 200;
}