.npmignore
node_modules/
.vs/*
.vscode/*
*.sln
_layouts/*
_snippets/*
archive/*
debug/*
demos/*
docgen/*
docs/*
examples/*
external/*
fonts/*
images/*
playground/*
src/*
stylesheets/*
target/*
!target/js/browser.maker.js
test/*
typings/*
tsconfig.json
tsd.json
CONTRIBUTING.md
Web.config
debug.log
