.npmignore
node_modules/
.vscode/*
_layouts/*
_snippets/*
archive/*
debug/*
demos/*
docgen/*
docs/*
examples/*
external/*
fonts/*
images/*
playground/*
src/*
stylesheets/*
target/*
test/*
typings/*
tsconfig.json
tsd.json
CONTRIBUTING.md
