html, body {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

body {
    padding: 1em;
}

a[name=top] {
    position: absolute;
    top: -1em;
}

header, section, footer {
    margin-bottom: 1em;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    color: #aaa;
    line-height: 18px;
    text-transform: lowercase;
    letter-spacing: 2px;
    display: inline;
}

.logo a {
    border: none;
    text-decoration: none;
}

.logo img {
    vertical-align: text-bottom;
    margin-right: 0.5em;
}

.logo h2 {
    letter-spacing: 6px;
}

#view-params {
    min-height: 100px;
    position: relative;
    background-color: #3177C6;
    background-image: url('blueprint.png');
}

#params {
    width: 18em;
    padding: .5em 1em 1em 1em;
    margin: 1em;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
    color: #555;
}

#view-container {
    overflow: auto;
}

#view {
    padding: 2em;
    color: #fff;
    overflow-y: hidden;
}

svg line, svg circle, svg path {
    stroke: #fff;
    stroke-width: 2px;
    fill: none;
}

#view svg {
    overflow: visible;
}

#view svg text {
    fill: #0ff;
    stroke: none;
}

#crosshairs-vertical, #crosshairs-horizontal {
    stroke: #4DD2FF;
    stroke-width: 1;
}

#crosshairs-horizontal_text, #crosshairs-vertical_text {
    display: none;
}

.code-header {
    font-family: monospace;
    background-color: #d0d0d0;
    margin-top: 2em;
    padding: .5em 1em;
    border: 1px solid #aaa;
}

.code-header button {
    font-family: monospace;
    background-color: green;
    color: white;
    float: right;
    margin-top: -2px;
}

.CodeMirror {
    height: auto;
}

.scroll-nav-links {
    position: fixed; 
    bottom: .75em; 
    right: 0;
    z-index: 2; 
    padding: .25em .5em .5em 1em; 
    background-color: #555;
    opacity: .85;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.scroll-nav-links span {
    font-size: smaller;
    margin-right: .5em;
    color: #ccc;
    text-transform: uppercase;
}

.scroll-nav-links a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
