---
layout: posts
---

<div class="container container-main toggle-visibilityprivate toggle-public">
<section class="xtsd-panel-group tsd-index-group">
	<section class="tsd-panel tsd-index-panel">
		<div class="tsd-index-content">
			<section class="tsd-index-section ">
				<ul class="tsd-index-list">
{% for snippet_title in page.snippet_titles %}
  {% for snippet in site.snippets %}
    {% if snippet.title == snippet_title %}
          <li class="tsd-kind-variable tsd-parent-kind-module"><a href="#{{ forloop.index }}" class="tsd-kind-icon">{{ snippet.title }}</a></li>
    {% endif %}
  {% endfor %}
{% endfor %}				
				</ul>
			</section>
		</div>
	</section>
</section>

<section class="tsd-panel-group tsd-member-group ">

{% for snippet_title in page.snippet_titles %}
  {% for snippet in site.snippets %}
    {% if snippet.title == snippet_title %}
    
<section class="tsd-panel tsd-index-panel tsd-kind-function tsd-parent-kind-module">
   <h3>{{ snippet.title }}</h3>
   <a name="{{ forloop.index }}" class="tsd-anchor"></a>
   <div class="tsd-comment tsd-typography">
{{ snippet.content }}
   </div>
</section>

    {% endif %}
  {% endfor %}
{% endfor %}

</section>

</div>

{{ content }}
